* {
  margin: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}
body {
  overflow-x: hidden;
  font-family: "Montserrat";
}
span {
  color: #ffe600;
}

.Logo {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

h2 {
  color: #1879c1;
  font-size: 32px;
  text-align: center;
}

button {
  border: none;
  box-shadow: 0 4px 4px #000000 25%;
  font-size: 20px;
}

.entete {
  width: 100%;
  height: 70px;
  background: none;
  padding-top: 20px;
  position: fixed;
  z-index: 7;
  color: white;
  transition: 0.5s;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.headerscroll {
  background-color: #1879c1;
  width: 100%;
  height: 70px;
  padding-top: 20px;
  position: fixed;
  z-index: 7;
  color: white;
  transition: 0.5s;
}

.burger {
  height: 22px;
  width: 24px;
}
/* SECTION 1*/
section {
  width: 100%;
  height: 736px;
  z-index: 1;
  overflow-x: hidden;
}

.slider {
  width: 500%;
  height: 100%;
  display: flex;
}

.conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.slide1 {
  background-image: url(images/Bouthan/bhoutan.png);
}

.slide2 {
  background-image: url(images/Atacama/atacama.png);
}

.slide3 {
  background-image: url(images/Japon/fujiyama.png);
}

.slide4 {
  background-image: url(images/Svalbard/shutterstock_1919091629.png);
}

.slide5 {
  background-image: url(images/Galapagos/tortue.png);
}
.prix {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3rem;
}

.nom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60%;
  font-family: "BenchNine";
  font-size: 48px;
  font-weight: 700;
}

.découvrez {
  margin-top: 10%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 550px;
}
#btn {
  margin-top: 70px;
  height: 60px;
  width: 100%;
  background: none;
  border-radius: 50px;
  border: 3px white solid;
  color: white;
}
.vector1 {
  height: 100%;
}

.vector2 {
  height: 100%;
}

/* SECTION 2 */

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trouvez {
  margin-top: 40px;
}

form {
  width: 80%;
  background-color: #1879c1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px 0 10px 0;
}

#reve {
  margin-top: 20px;
  padding-top: 40px;
}

.input {
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding-left: 1rem;
  gap: 0.5rem;
}

.input img {
  height: 50%;
}

input {
  border: none;
  font-size: 20px;
}

input:focus {
  outline: none;
  border: none;
}
.rechercher {
  background-color: white;
  color: #646464;
  margin: 40px 0;
  border-radius: 25px;
  height: 60px;
  width: 70%;
}

.toutes {
  background-color: #1879c1;
  margin-top: 30px;
  width: 80%;
  height: 60px;
  border-radius: 25px;
  color: white;
}
/* SECTION 3 */
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1.8;
}
.italie {
  color: white;
  width: 80%;
  height: 45%;
  background-image: url(images/italie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.allemagne {
  color: white;
  width: 80%;
  height: 45%;
  background-image: url(images/berlin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nom2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 10% 5% 0;
}

.prix2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5% 0 0 10%;
}

.italie img {
  width: 100%;
}

/* SECTION 4*/

.section4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.carre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #1879c1;
  border: #1879c1 1px solid;
  width: 80%;
  height: 450px;
  padding: 0 20px 20px 20px;
}

.avis {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.alice {
  display: flex;
  justify-content: flex-end;
}
.etoile {
  height: 50px;
  display: flex;
  flex-direction: column;
}

.etoile img {
  height: 10px;
  width: 50px;
}

/*SECTION 5*/
.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulaire {
  background-color: #1879c1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-top: 10%;
  -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.46);
}
label {
  color: white;
  font-size: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.form label {
  padding-left: 1rem;
}

.formulaire h5 {
  width: 90%;
  text-align: center;
  color: white;
  margin-top: 40px;
  font-size: 20px;
}
.zone_nom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 90%;
}

.zone_nom div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.zone_nom div .input {
  width: 100%;
}

.zone {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
.zone .input {
  width: 100%;
}

/*FOOTER*/
footer {
  background-color: #1879c1;
}

.container_footer {
  margin: 100px;
  margin-bottom: 10px;
  padding-top: 40px;
  color: white;
}

.container_footer h2 span {
  color: yellow;
}

.container_footer ul {
  font-size: 20px;
}

.icons img {
  width: 200px;
}

.icons {
  display: flex;
  justify-content: center;
}

footer h2 {
  text-align: left;
  color: white;
  font-size: 24px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 20px;
}
